.about-wrapper h2 {
	font-size: var(--40px);
}

.about-wrapper .about-first-title {
	margin-top: 6rem;
}

.about-wrapper p {
	font-size: var(--20px);
	margin: var(--20px);
}

.about-wrapper label {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}

input[type='checkbox'] {
  display: none;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.content-inner {
	border-top: 1px solid black;
}

.lbl-toggle {
	cursor: pointer;
}

.collapsible-content {
	/* margin: 0.5rem; */
	border-bottom: 1px solid black;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

@media screen and (max-width: 414px) {
	.about-wrapper h2 {
		font-size: var(--16px);
	}
	.about-wrapper p {
		font-size: var(--12px);
		margin: var(--12px);
	}

	.lbl-toggle img {
		width: var(--16px);
	}
}