.counsellor-gallery-wrapper {
}

.counsellor-gallery-wrapper form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  font-size: 1.25rem;
}

.counsellor-gallery-wrapper select {
  padding: 4px 12px 4px 36px;
  gap: 12px;
  border: 1px solid black;
  border-radius: 16px;
}

.counsellor-gallery-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: var(--32px);
  margin-top: 2rem;
}
