.counsellor-gallery-wrapper h2 {
  font-size: var(--40px);
}

.counsellor-gallery-wrapper .hero {
  width: 100%;
  margin-bottom: 100px;
}

.counsellor-gallery-wrapper .hero .col-2 {
  display: flex;
  flex-wrap: wrap;
}

.counsellor-gallery-wrapper .hero .col-2 > * {
  width: 50%;
  padding: var(--32px);
}

.counsellor-gallery-wrapper .hero .row-2 {
  display: flex;
  flex-direction: column;
}

.counsellor-gallery-wrapper form {
  margin: var(--16px) 0;
}

.counsellor-gallery-wrapper .inputs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  font-size: 1.25rem;
}

.counsellor-gallery-wrapper .clear-filters {
  top: var(--32px);
  font-size: var(--16px);
}

.counsellor-gallery-wrapper .input_with_label {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-black-100);
}

.counsellor-gallery-wrapper input {
  flex: 1;
  border: unset;
}

.counsellor-gallery-wrapper input:focus {
  border: red;
}

.counsellor-gallery-wrapper select {
  padding: 4px 12px 4px 36px;
  gap: 12px;
  border: 1px solid black;
  border-radius: 16px;
}

.counsellor-gallery-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: var(--32px);
  margin-top: 2rem;
}
