.counsellor-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--color-grey-40);
  border-radius: 6px;
  padding: var(--16px) var(--20px);
  transition: all 500ms ease;
}

.counsellor-card:hover {
  /* background-color: var(--color-teal-20); */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  scale: 1;
}

.counsellor-card > img {
  margin-bottom: var(--8px);
  width: 100%;
  border-radius: 6px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.counsellor-card .cols-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counsellor-card .name {
  font-size: var(--18px);
  font-weight: 600;
}

.counsellor-card .icon-with-text {
  display: flex;
  gap: var(--2px);
}

.counsellor-card .location {
  font-size: var(--10px);
}

.counsellor-card .title {
  font-size: var(--14px);
  color: var(--color-grey-60);
}

.counsellor-card .price {
  font-size: var(--10px);
  color: var(--color-teal-100);
}

.counsellor-card .tags {
  margin: var(--12px) 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.counsellor-card .info-preview {
  margin-bottom: var(--12px);
  font-size: var(--12px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.counsellor-card .profile-link {
  font-size: var(--12px);
  text-decoration: underline;
  /* color: var(--color-teal-100); */
}
