
.home-page {
  position: absolute;
  width: 1512px;
  height: 608px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('https://images.unsplash.com/photo-1576091160399-112ba8d25d1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-color: #301B08;
  mix-blend-mode: darken;
  background-size: cover;
}


.home-page h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
  white-space: nowrap; /* added to make the text one single line */
}

.home-page .right-button,
.home-page .left-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  fill: white;
  opacity: 1.0;
  cursor: pointer;
}

.home-page .right-button {
  right: 10px;
}

.home-page .left-button {
  left: 10px;
  transform: rotate(180deg) translateY(-50%);
}
